{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>django-boilerplate</title>

	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"> 
    
</head>
<body>
      {% comment %} map {% endcomment %}
    <div id="map"></div>
   

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=27ca58aea6bfdc0ca906de0302d395cc"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    
   
	{% comment %} {% block content %}
	{% endblock %}  {% endcomment %}
</body>
</html>