body {
    margin: 0px;
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 350px;
    height: 100vh;
    text-align: center;
    z-index: 1000;
}

hr {
    background: #00A82F;
    height: 2px;
    border: 0;
}

#info_drain {
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    size: 13px;
}

#box_img_drain {
    align-items: center;
    margin: auto;
    width: 90%;
    height: 200px;
    border: 2px solid #00A82F;
    border-radius: 0.5em;
    padding: 10px;
}

#img_drain {
    width: 300px;
    height: 200px;
}


table {
    max-width: 960px;
    margin: 40px auto;
  }
  
  caption {
    font-size: 18px;
    font-weight: 400;
    padding: 12px 0;
  }
  
  thead th {
    background: #0c3390;
    color: #fff;
    font-weight: initial;
  }
  

tr { background: #f1f1f1; }

tr:nth-child(2n) { background: #e0e0e0; }
/* 
th, td {
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
} */
#lefttd{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#righttd{
    text-align: left;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 14px;
    padding-bottom: 14px;
}
tfoot tr { background: none; }

tfoot td {
  padding: 12px 2px;
  font-style: italic;
  color: #8a97a0;
}
#button1{
  width: 140px;
  height: 105px;
  background-color:rgba(0, 168, 47, 0.18);
  border-radius: 0.5rem;
  color: black;
  vertical-align:middle;
  align-items: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}

#button2{
    width: 140px;
    height: 105px;
    background-color:rgba(241, 87, 0, 0.18);
    border-radius: 0.5rem;
    color: black;
    vertical-align:middle;
    align-items: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  
  }

  #btnimg{
    width: 50%;
    margin-top: 5px;
  }

  #btntxt{
    margin-top: -1px;
    font-weight: 600;
  }

  #bumillogo{
    width: 40%;
    margin-top: 70px;
  }